.gpt3__cval{
    display: flex;
}

.gpt3__cval-box{
    margin:5rem;
    border-radius: 10px;
    padding:2rem;
    background:-moz-radial-gradient(circle at 0% 0%, rgba(5, 87, 97, 1) 2%, rgba(37, 37, 63, 0.91) 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 0% 0%, rgba(5, 87, 97, 1) 2%, rgba(37, 37, 63, 0.91) 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 0% 0%, rgba(5, 87, 97, 1) 2%, rgba(37, 37, 63, 0.91) 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 0% 0%, rgba(5, 87, 97, 1) 2%, rgba(37, 37, 63, 0.91) 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 0% 0%, rgba(5, 87, 97, 1) 2%, rgba(37, 37, 63, 0.91) 100%);
}

.gpt3__cval-mista{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gpt3__cval-mista p{
    font-family: var(--font-family);
    font-size: 25px;
    line-height: 45px;
    padding:1rem;
    color:var(--color-text);
}

.gpt3__cval-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right:1.5rem;
}

.gpt3__cval-heading h1{
    font-family: var(--font-family);
    color:var(--gradient-text);
    font-weight: 800;
    font-size: 32px;
    line-height: 45px;
    max-width: 510px;
}

.gpt3__cval-heading p{
    font-family: var(--font-family);
    color:#fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 45px;
}

.gpt3__cval__coreval{
    display: flex;
    width:100%;
    flex-wrap:wrap;
    justify-content:space-between;
    align-items:center;
    margin:1.5rem 0;
}

@media screen and (max-width:1050px) {
    .gpt3__cval-mista{
        margin: 1.5rem 0;
    }
    .gpt3__cval-heading p{
        line-height: 25px;
    }
    .gpt3__cval-heading h1{
        margin-right:1rem ;
    }

}

@media screen and (max-width:550px) {
    .gpt3__cval-heading{
        display: flex;
        flex-direction: column;
    }
    .gpt3__cval-heading p{
        margin:2rem 0;
    }
}

