.gpt3__features-container__feature{
    display: flex;
    flex-direction: column;
    margin:1.5rem 1rem;
}

.gpt3__features-container__feature-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding:0.5rem;
}

.gpt3__features-container__feature-title h1{
    font-family: var(--font-family);
    font-size: 25px;
    font-weight: 500;
    color:#fff;
    line-height: 45px;

}

.gpt3__features-container__feature-text{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.gpt3__features-container__feature-text p{
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: 500;
    color:var(--color-subtext);
    line-height: 20px;
}

