.gpt3__products{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    background: #fff;
}

.gpt3__products-boxc{
    width: 80%;
    border-radius: 10px;
    padding:1rem;
    background:-moz-radial-gradient(circle at 41% 24%, rgba(8, 112, 153, 1) 0%, rgba(141, 130, 238, 1) 98%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(circle at 41% 24%, rgba(8, 112, 153, 1) 0%, rgba(141, 130, 238, 1) 98%);

    /* opera 11.10+ */
    background:-o-radial-gradient(circle at 41% 24%, rgba(8, 112, 153, 1) 0%, rgba(141, 130, 238, 1) 98%);

    /* ie 10+ */
    background:-ms-radial-gradient(circle at 41% 24%, rgba(8, 112, 153, 1) 0%, rgba(141, 130, 238, 1) 98%);

    /* global 92%+ browsers support */
    background:radial-gradient(circle at 41% 24%, rgba(8, 112, 153, 1) 0%, rgba(141, 130, 238, 1) 98%);
}

.gpt3__products-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:1rem;
    margin-bottom: 1rem;
}

.gpt3__products-heading h1{
    font-family: var(--font-family);
    color:var(--gradient-text);
    font-weight: 800;
    font-size: 32px;
    line-height: 45px;
}

.gpt3__products-var{
    display: flex;
    flex-direction: column;
}